<ion-header>

  <ion-navbar>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <form (ngSubmit)="saveResult()">
    <ion-list padding>
      <h2 style="line-height: 0em;padding-top:1em;">Body information</h2>
      <p>This data is used to generate statistics regarding your body type in relation to weight lifting.</p>

      <ion-item>
        <ion-label fixed>Height(cm)</ion-label>
        <ion-input type="number" [(ngModel)]="bodySettings.Height" name="Height"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Weight(kg)</ion-label>
        <ion-input type="number" [(ngModel)]="bodySettings.Weight" name="Weight"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list padding>
      <h2 style="line-height: 0em;padding-top:1em;">Max repetition</h2>
      <p>Fill in your weight for a max repetition for each of the lifts below, in <b>kilograms</b>.</p>

      <ion-item>
        <ion-label fixed>Squat</ion-label>
        <ion-input type="number" [(ngModel)]="liftSettings.Squat" name="Squat"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Bench Press</ion-label>
        <ion-input type="number" value="" [(ngModel)]="liftSettings.BenchPress" name="BenchPress"></ion-input>
      </ion-item>

      <ion-item id="rounded">
        <ion-label fixed>Deadlift</ion-label>
        <ion-input type="number" [(ngModel)]="liftSettings.Deadlift" name="Deadlift"></ion-input>
      </ion-item>
    </ion-list>

    <div class="btn">
      <button ion-button round outline type="submit">Save Changes</button>
    </div>
    <!-- [navPush]="pushPage" -->
  </form>


    <!-- Kolla hur dessa funkar sedan -->
    <!-- <ion-list *ngIf="page == 'main'">
      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION1' | translate }}</ion-label>
        <ion-toggle formControlName="option1"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION2' | translate }}</ion-label>
        <ion-input formControlName="option2"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION3' | translate }}</ion-label>
        <ion-select formControlName="option3">
          <ion-option value="1" checked="true">1</ion-option>
          <ion-option value="2">2</ion-option>
          <ion-option value="3">3</ion-option>
        </ion-select>
      </ion-item>

      <button ion-item [navPush]="subSettings" [navParams]="profileSettings">
        {{ 'SETTINGS_PROFILE_BUTTON' | translate }}
      </button>
    </ion-list>

    <ion-list *ngIf="page == 'profile'">
      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION4' | translate }}</ion-label>
        <ion-input formControlName="option4"></ion-input>
      </ion-item>
    </ion-list> -->

</ion-content>