page-statistics {
    h1 {
        font: bold italic 3em/1em "Times New Roman", "MS Serif", "New York", serif;
        background: #fff repeat-x bottom;
        padding: 0.5em 0 90px 0;
        text-align: center;
        margin: 0;
        border-bottom: solid #320000 0.25em;
        color: #320000;
        }
}
