page-list-master {
.weekList{
    margin-top:3%;
}

.week{
    padding:3%;
}

h2, p{
    text-align: center;
}

.complete{
    color: grey; 
    text-decoration: line-through; 
}

.arrow{
    font-size: 2.5em;
}

.btn{
    padding-bottom:3%;
    border-color: white;
}


}
